.btn {
    padding: 5px;
}











.dropbtn {
    background-color: #191970;
    color: ivory;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown1 {
    position: absolute;
    display: inline-block;
    left: 860px;
}

.dropdown1-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown1-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown1-content a:hover {
    background-color: #f1f1f1
}
.dropdown1:hover .dropdown1-content {
    display: block;
    }

.dropdown1:hover .dropbtn {
background-color: #3e8e41;
}
.maincontent{
    border:solid #191970 2px;
    text-align: center;
}

.dropdown2 {
    position: absolute;
    display: inline-block;
    left: 960px;
}

.dropdown2-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown2-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown2-content a:hover {
    background-color: #f1f1f1
}
.dropdown2:hover .dropdown2-content {
    display: block;
    }

.dropdown2:hover .dropbtn {
background-color: #3e8e41;
}
.dropdown3 {
    position: absolute;
    display: inline-block;
    left: 1060px;
}

.dropdown3-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown3-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown3-content a:hover {
    background-color: #f1f1f1
}
.dropdown3:hover .dropdown3-content {
    display: block;
    }

.dropdown3:hover .dropbtn {
background-color: #3e8e41;
}